<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon aria-hidden="false" aria-label="Example home icon">face</mat-icon>
     <span class="titulo">{{titulo}}</span>
      <span class="example-fill-remaining-space"></span>
    <nav>
      <a mat-button routerLink="/" routerLinkActive="active">Inicio</a>
      <a mat-button routerLink="/p1" routerLinkActive="active">Ajax</a>
      <a mat-button routerLink="/p2" routerLinkActive="active">Page 2</a>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">

  <router-outlet></router-outlet>
</div>