.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.container{
    margin: 20px;
}

mat-icon {
  margin-right: 10px;
}