<button #boton mat-raised-button color="accent" (click)="hacerClick()">PÁGINA 1</button>
<button #boton mat-raised-button color="accent" (click)="hacerClick2()">PÁGINA 2</button>
<hr *ngIf="visible">
<table *ngIf="datos.length > 0">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Nombre</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dato of datos">
      <td>{{dato.id}}</td>
      <td><img src="{{dato.avatar}}"></td>
      <td>{{dato.first_name}} {{dato.last_name}}</td>
      <td>{{dato.email}}</td>
    </tr>
  </tbody>
</table>