:host {
  margin: 10px;
}

img {
  height: 50px;
}

td {
  min-width: 50px;
  border: 1px solid #ccc;
  padding: 5px;
}

table {
  // border: 1px solid #aaa;
  border-collapse: collapse;
}
button {
    margin-right: 10px;
}

