<p class="mat-display-1">Bienvenidos a la Home de esta página</p>
<p>Se trata de un proyecto de Angular, con Material, y con Carga perezosa (lazy)
    de diferentes Módulos.
</p>
<p>En en módulo de la página 1 nos encontraremos una carga de datos JSON de una API
  mediante la carga por ajax de RXJS. Se han puesto dos botones para alternar
  cargas de distintas páginas de datos.
</p>

<p>Además, se han usado distintos entornos.  En este caso estamos en el entorno de: {{entorno}}
</p>
